@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
}

.feedbackdata {
    font-family: 'Inter', sans-serif;

    .fd-header{

        .fd-head-img{
            width: 100%;
        }

        .fd-head-text{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Inter', sans-serif;
            font-size: 2rem;
            font-weight: 600;

            span{
                color: #5b83da;
            }
        }
    }

    .fd-body{
        margin-top: 10px;
        margin-bottom: 60px;

        .fd-row{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }


            .fd-input{
                width: 300px;
                border-radius: 7px;
                border-color: #5b83da;
                font-family: 'Inter', sans-serif;
                font-size: 1.2rem;
                font-weight: 600;
                margin-right: 10px;
            }

            .fd-btn{
                width: 170px;
                border-color: #5b83da;
                border-radius: 7px;
                font-size: 1.2rem;
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                color: #5b83da;

                &:hover{
                    background-color: #5b83da;
                    color: white;
                }
            }
        }

        .fd-table{
            margin-top: 50px;
            margin-bottom: 20px;

            h1{
                font-size: 1.8rem;
                font-weight: 600;
                color: #5b83da;
                text-align: center;
            }
        }

        table{
            width: 100%;
            margin: 0 auto;

            .b-row{

                button{
                    width: 110px;
                    margin-right: 10px;
                    border-radius: 7px;
                    border-color: #5b83da;
                    color: #5b83da;
                    font-family: 'Inter', sans-serif;

                    &:hover{
                        background-color: #5b83da;
                        color: white;
                    }
                }

                .dang{
                    background-color: #ffffff;
                    color: #ff0000;
                    border-color: #ff0000;

                    &:hover{
                        background-color: #ff0000;
                        color: white;
                    }
                }
            }
        }
    }
}