[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djongo = "*"
python-dotenv = "*"
pymongo = "==3.12.3"

[dev-packages]

[requires]
python_version = "3.8"
