@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.sidebar{
    width: 15%;
    height: 100vh;
    background-color: #fff;
    border-right: 3px solid #6a8dd9;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 30px;
    transition: width 0.3s;
    position: relative;
}

.sidebar .menu-icon{
    font-size: 40px;
    color: #6a8dd9;
    cursor: pointer;
    margin-left: 30px;
    transition: 0.3s;
}

.sidebar .menu-icon:hover{
    color: #5876b8;
    transform: rotate(180deg);
}

.cloapsed{
    width: 7%;
}

.sidebar .sidebar-icons{
    width: 100%;
    height: 60%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .sidebar-icons .sidebar-icon{
    font-size: 45px;
    padding-left: 30px;
    color: #6a8dd9;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar .sidebar-icons .sidebar-icon .sidebar-text{
    font-size: 20px;
    margin-left: 10px;
}

.sidebar .sidebar-icons .active{
    color: #fff;
    background-color: #5876b8;
}

.sidebar .sidebar-icons .sidebar-icon:hover{
    color: #fff;
    background-color: #6a8dd9;
    transform: scale(1.02);
}

.sidebar .sidebar-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #6a8dd9;
    position: absolute;
    height: 100px;
    bottom: 0;
    font-size: 28px;
    color: #6a8dd9;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar .sidebar-footer:hover{
    color: #fff;
    background-color: #6a8dd9;
}