@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
}

.admindash {
    font-family: 'Inter', sans-serif;

    .dash-u{
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 2.5rem;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

    .tableau-u{
        margin-top: 2vh;
        margin-bottom: 10vh;
    }
}