@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    padding: 0;
}

.admanage {
    font-family: 'Inter', sans-serif;

    .adm-header {

        .adm-head-img {
            width: 100%;
        }

        .adm-head-text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Inter', sans-serif;
            font-size: 2rem;
            font-weight: 600;

            span {
                color: #5b83da;
            }
        }
    }

    .adm-body {
        --transition-duration: 500ms;
        --transition-easing: ease-out;
        margin-top: 20px;
        margin-bottom: 20px;

        .adm-head{
            width: 100%;
            text-align: center;
            font-family: 'Inter', sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 30px;
            color: #5b83da;
        }

        .adm-card {
            border-radius: 8px;
            border-color: #5b83da;
            border-width: 2px;
            background-color: rgba(white, 0.05);
            backdrop-filter: blur(2px);
            box-shadow: 0px calc(var(--size) / 6) calc(var(--size) / 3) rgba(black, 0.1);
            transition: transform var(--transition-duration) var(--transition-easing);
            overflow: hidden;

            &::before {
                content: '';
                background: rgba(white, 0.4);
                width: 60%;
                height: 100%;
                top: 0%;
                left: -125%;
                transform: skew(45deg);
                position: absolute;
                transition: left var(--transition-duration) var(--transition-easing);
            }

            &:hover {
                transform: translateY(-25%);
                &::before {
                    left: 150%;
                }
            }


            .card-title {
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
                font-weight: 600;
                color: #5b83da;
            }

            .card-text {
                font-family: 'Inter', sans-serif;
                font-size: 1rem;
                font-weight: 500;
                color: #000;
            }
        }

        .adm-map{
            margin-top: 30px;
            margin-bottom: 20px;
            width: 100%;
            height: 100%;

            .adm-map-info{
                text-align: right;
                font-family: 'Inter', sans-serif;
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 5px;
                cursor: pointer;
            }

            .adm-map-main{
                height: 120vh;
            }
        }
    }
}